// import files
@import "style-from-wp-theme";
@import "bootstrap-from-wp-theme";

// Add uw_drupal_theme specific CSS here
// or create a variables file and reference it here
#loginlink {
  text-decoration: none;
}

#enhanced-preview a:hover span {
  display: block;
}

@import "admin";
@import "content";
