{% if page.search %}
 {{ attach_library('uw_drupal_theme/search') }}
<div id="uwsearcharea" aria-hidden="true" class="uw-search-bar-container" data-search="{{ default_search_scope }}" hidden>
  <div class="container no-height" role="search">
    {{ page.search }}
  </div>
</div>
{% else %}
  {{ attach_library('uw_drupal_theme/searchtoggleonly') }}
{% endif %}

