{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup templates
 */
#}
{% if breadcrumb %}
  <nav class='uw-breadcrumbs' aria-label='breadcrumbs'>
    <ul>
      {% for item in breadcrumb %}
        <li {{ item.attributes }}>
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          <span>{{ item.text }}{% endif %}</span>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
